#text-dashboard{
  margin-top: 18px;
  color: #002ECF;
  font-weight: bold;
  font-size: 36px;
  margin-left: 15px;
}

#pesquisaPalavra{
  margin-top: 10px;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}
