ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #FFFF00;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #002ECF;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

#estatisticas-suicidio{
  text-align: center;
  color: #002ECF;
}

li > h5, .descricao-contador{
  color: #002ECF;
}

.btn-contador{
  background-color: #FFFFFF;
  color: #002ECF;
  border-radius: 5px;
  border: 2px solid #002ECF; 
}

.btn-contador:hover{
  background-color: #002ECF;
  color: #FFFF00;
}