#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

#paragraph-menu{
  text-align: center;
  margin-top: 70px;
  font-size: 28px;
  font-weight: bold;
}

.logotipo{
  width: 70px;
  height: 70px;
  top: 0px;
}


#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group-item{
  margin-top: 10px;
}

#page-content-wrapper {
  min-width: 100vw;
}

.sidebarAndNavbar, .list-group-item{
  background: #002ECF;
  color: #FFFF00;
  font-weight: 500px;
  font-family: Roboto;
}

.list-group-item:hover{
  color: #002ECF;
  background-color: #FFFF00;
}

.sidebarAndNavbar{
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.icons-menu:hover{
  color: #FFFF00;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}
