.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  margin: 100px auto 0 auto;
  padding: 15px;
  background-color: #002ECF;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-login{
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-login{
  font-size: 28px;
  color: #FFFF00;
  text-align: center;
}

.label-text{
  color: #FFFF00;
  font-weight: 500px;
  font-size: 18px;
}

#login{
  width: 48px;
  height: 48px;
  text-align: center;
}

#btnEnviar{
  margin: 0 auto;
  color: #002ECF;
  background-color: #FFFF00;
  font-weight: bold;
  display: flex;
  justify-content: center;  
  align-items: center;
}
