figure{
  position: relative;
}

#image-body{
  max-width: 100%;
  width: 100%;
  height: auto;
}

#line-top{
  position: absolute;
  top: 150px;
  left: 82px;
  border: 3px solid #FF0;
  width: 600px;
}

#title-photo{
  position: absolute;
  top: 150px;
  left: 82px;
  font-family: Roboto;
  font-size: 72px;
  font-weight: bold;
  color: #002ECF;
  text-shadow: 0px 6px 6px rgba(255, 255, 255, 0.25);
}

#message-photo{
  position: absolute;
  top: 250px;
  left: 82px;
  max-width: 600px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500px;
  color: #002ECF;
  text-shadow: 0px 6px 6px rgba(255, 255, 255, 0.25);
}

#line-bottom{
  position: absolute;
  top: 425px;
  left: 82px;
  border: 3px solid #FF0;
  width: 600px;
}

@media(max-width: 900px){
  #line-top{
    top: 75px;
    left: 41px;
    width: 300px;
  }

  #title-photo{
    top: 75px;
    left: 41px;
    font-size: 36px;
    max-width: 300px;
  }

  #message-photo{
    top: 125px;
    left: 41px;
    font-size: 12px;
    max-width: 300px;
  }

  #line-bottom{
    top: 212.5px;
    left: 41px;
    width: 300px;
  }
}

@media(min-width: 900px){
  #line-top{
    top: 75px + 30%;
    left: 41px + 30%;
    width: 300px + 30%;
  }

  #title-photo{
    top: 75px + 30%;
    left: 41px + 30%;
    font-size: 36px + 30%;
    max-width: 300px + 30%;
  }

  #message-photo{
    top: 125px + 30%;
    left: 41px + 30%;
    font-size: 12px + 30%;
    max-width: 300px + 30%;
  }

  #line-bottom{
    top: 212.5px + 30%;
    left: 41px + 30%;
    width: 300px + 30%;
  }
}